<!-- src/app/app.component.html -->
<div class="container text-center mt-4">
    <div class="header bg-light p-4 rounded">
      <h1 class="display-4">Chocolates Chocotalia</h1>
      <nav class="d-flex justify-content-center">
        <button class="btn btn-outline-primary mx-2" routerLink="/pagina-inicio" routerLinkActive="active">Inicio</button>
        <button class="btn btn-outline-primary mx-2" routerLink="/productos" routerLinkActive="active">Productos</button>
        <button class="btn btn-outline-primary mx-2" routerLink="/comentarios" routerLinkActive="active">Comentarios</button>
      </nav>
    </div>
  </div>
  